# Assignment-3

This notebook contains the coding questions to test the proficiency in `Pandas` library in python.

### Date: 13th December, 2025

### Steps to solve and upload the assignment 

- Download the notebook in your local machine.
- Solve the questions in the notebook and save it.
- Rename the file as `Assignment-03-<your_name>_<your_surname>.ipynb`. For example if your name is Dipika Chopra then name the file as `Assignment-03-Dipika_Chopra.ipynb`.
- Upload the solved notebook in your github repo under the folder **Assignment-3**.
- Upload the solved notebook in the google drive location: https://drive.google.com/drive/folders/1mMtPeHCmsKQE8KxK_RmnFFkTPfo5RYNJ?usp=drive_link 
<h3><span style="color:red"> Deadline: 10th January, 2026 </span></h3>

Use the `population_by_county.csv` file in the folder to complete the tasks.

**NOTE: TRY TO DO ALL THE TASKS IN ONE LINE OF PANDAS CODE.**

In [1]:
import pandas as pd

#### 1. Import pandas and read in the `population_by_county.csv` file into a dataframe called `pop`.

In [2]:
# Write your code here

pop= pd.read_csv('population_by_county.csv')
print(pop)

                County           State  2010Census  2017PopEstimate
0     Abbeville County  South Carolina       25417            24722
1        Acadia Parish       Louisiana       61773            62590
2      Accomack County        Virginia       33164            32545
3           Ada County           Idaho      392365           456849
4         Adair County            Iowa        7682             7054
...                ...             ...         ...              ...
3137       Yuma County         Arizona      195751           207534
3138       Yuma County        Colorado       10043            10075
3139     Zapata County           Texas       14018            14322
3140     Zavala County           Texas       11677            11948
3141    Ziebach County    South Dakota        2801             2756

[3142 rows x 4 columns]

#### 2. Show the head of the dataframe, Also show top 8 rows of the dataframe using head

In [10]:
# Write your code here
print(pop.head())  # head of dataframe
print()
print("--------------print top 8--------------------------")
print()
print(pop.head(8)) # top 8 rows of dataframe

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

--------------print top 8--------------------------

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054
5      Adair County        Kentucky       18656            19485
6      Adair County        Missouri       25607            25377
7      Adair County        Oklahoma       22683            21909

#### 3. What are the column names?

In [11]:
# Write your code here

print(pop.columns)

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

#### 4. How many States are represented in this data set?  
<em>Note: the data includes the `District of Columbia`</em>

In [23]:
# Write your code here
distinct_states = pop['State'].unique()
print( "The data set contains " + str(len(distinct_states))+ " states of District Columbia which are as below")

The data set contains 51 states of District Columbia which are as below

#### 5. Get a list or array of all the states in the data set.

In [24]:
# Write your code here

print(distinct_states)

['South Carolina' 'Louisiana' 'Virginia' 'Idaho' 'Iowa' 'Kentucky'
 'Missouri' 'Oklahoma' 'Colorado' 'Illinois' 'Indiana' 'Mississippi'
 'Nebraska' 'North Dakota' 'Ohio' 'Pennsylvania' 'Washington' 'Wisconsin'
 'Vermont' 'Minnesota' 'Florida' 'North Carolina' 'California' 'New York'
 'Wyoming' 'Michigan' 'Alaska' 'Maryland' 'Kansas' 'Tennessee' 'Texas'
 'Maine' 'Arizona' 'Georgia' 'Arkansas' 'New Jersey' 'South Dakota'
 'Alabama' 'Oregon' 'West Virginia' 'Massachusetts' 'Utah' 'Montana'
 'New Hampshire' 'New Mexico' 'Rhode Island' 'Nevada'
 'District of Columbia' 'Connecticut' 'Hawaii' 'Delaware']

#### 6. What are the five most common County names in the U.S.?

In [43]:
# Write your code here
print(pop['County'].value_counts())
most_common = pop['County'].value_counts().index
print()
print("-----------------------")
top_five = most_common[:5]
print(top_five.to_list())

County
Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
                     ..
Gunnison County       1
Gulf County           1
Guilford County       1
Guernsey County       1
Ziebach County        1
Name: count, Length: 1877, dtype: int64

-----------------------
['Washington County', 'Jefferson County', 'Franklin County', 'Lincoln County', 'Jackson County']

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [97]:
# Write your code here
sort_by_2010Census = (pop.groupby(['County','State'], as_index=False)['2010Census'] #Assumptiom  state + county  => one unique county
                      .sum()
                      .nlargest(5,"2010Census"))

print(sort_by_2010Census['County'].to_list())

['Los Angeles County', 'Cook County', 'Harris County', 'Maricopa County', 'San Diego County']

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [100]:
# Write your code here

sort_by_2010Census = (pop.groupby('State', as_index=False)['2010Census']
                      .sum()
                      .sort_values("2010Census",ascending=False)
                     )

print(sort_by_2010Census.head(5))

         State  2010Census
4   California    37253956
43       Texas    25145561
32    New York    19378102
9      Florida    18801310
13    Illinois    12830632

#### 9. How many Counties have 2010 populations greater than 1 million?

In [114]:
# Write your code here
county_wise_population = (pop.groupby('County', as_index=False)['2010Census'].sum())

print(county_wise_population[county_wise_population['2010Census']>1000000])

                     County  2010Census
11           Alameda County     1510271
27         Allegheny County     1223348
148            Bexar County     1714773
206            Bronx County     1385108
212          Broward County     1748066
347            Clark County     2748857
394     Contra Costa County     1049025
397             Cook County     5217063
434       Cumberland County     1077418
439         Cuyahoga County     1280122
445           Dallas County     2502987
506          Douglas County     1355733
541          El Paso County     1422910
556             Erie County     1276685
559            Essex County     1583955
566          Fairfax County     1081726
568        Fairfield County     1086941
600         Franklin County     2118803
611           Fulton County     1110618
713         Hamilton County     1477502
736           Harris County     4124483
755         Hennepin County     1152425
768     Hillsborough County     1629947
834          Jackson County     1698139
840        Jefferson County     3152073
854          Johnson County     1121732
897             King County     1931535
903            Kings County     2657682
938             Lake County     1876613
969              Lee County     1079698
1002     Los Angeles County     9818605
1027         Madison County     1347824
1042        Maricopa County     3817117
1046          Marion County     1962056
1106      Miami-Dade County     2496435
1107       Middlesex County     2489578
1134          Monroe County     1549967
1139      Montgomery County     3519362
1171          Nassau County     1412846
1188        New York County     1585873
1220         Oakland County     1202362
1247          Orange County     4826896
1275      Palm Beach County     1320134
1314    Philadelphia County     1526006
1342            Polk County     1365371
1380          Queens County     2230722
1427       Riverside County     2189641
1462      Sacramento County     1418788
1469       Salt Lake County     1029655
1474  San Bernardino County     2035210
1475       San Diego County     3095313
1493     Santa Clara County     1781642
1534          Shelby County     1325013
1583       St. Louis County     1199180
1618         Suffolk County     2215373
1648         Tarrant County     1809034
1688          Travis County     1024266
1718           Union County     1086333
1775      Washington County     2473743
1785           Wayne County     2453456

#### 10. How many Counties don't have the word "County" in their name?

In [125]:
# Write your code here

counties_without_county = pop[~pop['County'].str.contains('County',case=False)][['County','State']]
print(counties_without_county.to_string(index=False))

                           County                State
                   Baltimore city             Maryland
             District of Columbia District of Columbia
          East Baton Rouge Parish            Louisiana
              Virginia Beach city             Virginia
                 Jefferson Parish            Louisiana
                   Orleans Parish            Louisiana
                   St. Louis city             Missouri
           Anchorage Municipality               Alaska
                     Caddo Parish            Louisiana
                     Norfolk city             Virginia
               St. Tammany Parish            Louisiana
                  Chesapeake city             Virginia
                 Lafayette Parish            Louisiana
                    Richmond city             Virginia
                 Calcasieu Parish            Louisiana
                Newport News city             Virginia
                  Ouachita Parish            Louisiana
                  Alexandria city             Virginia
                     Hampton city             Virginia
                   Rapides Parish            Louisiana
                Livingston Parish            Louisiana
                Tangipahoa Parish            Louisiana
                   Bossier Parish            Louisiana
                Terrebonne Parish            Louisiana
                 Ascension Parish            Louisiana
     Fairbanks North Star Borough               Alaska
                     Roanoke city             Virginia
                 Lafourche Parish            Louisiana
                  Portsmouth city             Virginia
        Matanuska-Susitna Borough               Alaska
                     Suffolk city             Virginia
                St. Landry Parish            Louisiana
                   Lynchburg city             Virginia
                    Iberia Parish            Louisiana
                    Acadia Parish            Louisiana
                 Vermilion Parish            Louisiana
          Kenai Peninsula Borough               Alaska
                      Carson City               Nevada
                  St. Mary Parish            Louisiana
               St. Charles Parish            Louisiana
                    Vernon Parish            Louisiana
                St. Martin Parish            Louisiana
                Harrisonburg city             Virginia
                Washington Parish            Louisiana
                   Lincoln Parish            Louisiana
      St. John the Baptist Parish            Louisiana
             Charlottesville city             Virginia
                    Danville city             Virginia
                 Avoyelles Parish            Louisiana
                   Webster Parish            Louisiana
              Natchitoches Parish            Louisiana
                    Manassas city             Virginia
               St. Bernard Parish            Louisiana
                Beauregard Parish            Louisiana
                Evangeline Parish            Louisiana
                 Iberville Parish            Louisiana
                  Petersburg city             Virginia
           Jefferson Davis Parish            Louisiana
          Juneau City and Borough               Alaska
                 Morehouse Parish            Louisiana
                   De Soto Parish            Louisiana
                  Winchester city             Virginia
                     Allen Parish            Louisiana
                       Salem city             Virginia
              Fredericksburg city             Virginia
                    Sabine Parish            Louisiana
          West Baton Rouge Parish            Louisiana
                    Staunton city             Virginia
                Assumption Parish            Louisiana
               Plaquemines Parish            Louisiana
             Pointe Coupee Parish            Louisiana
                     Union Parish            Louisiana
                    Hopewell city             Virginia
                     Fairfax city             Virginia
                     Grant Parish            Louisiana
                 St. James Parish            Louisiana
                  Waynesboro city             Virginia
                 Concordia Parish            Louisiana
                  Franklin Parish            Louisiana
                  Richland Parish            Louisiana
            East Feliciana Parish            Louisiana
                     Bristol city             Virginia
            Colonial Heights city             Virginia
                 Claiborne Parish            Louisiana
               Bethel Census Area               Alaska
                     Radford city             Virginia
                   Jackson Parish            Louisiana
            West Feliciana Parish            Louisiana
                      Winn Parish            Louisiana
                   LaSalle Parish            Louisiana
                 Bienville Parish            Louisiana
               Manassas Park city             Virginia
                Williamsburg city             Virginia
                Martinsville city             Virginia
            Kodiak Island Borough               Alaska
        Ketchikan Gateway Borough               Alaska
                Falls Church city             Virginia
                    Poquoson city             Virginia
                   Madison Parish            Louisiana
              West Carroll Parish            Louisiana
                St. Helena Parish            Louisiana
                 Catahoula Parish            Louisiana
                  Caldwell Parish            Louisiana
       Valdez-Cordova Census Area               Alaska
                 Nome Census Area               Alaska
              North Slope Borough               Alaska
                 Red River Parish            Louisiana
           Sitka City and Borough               Alaska
                    Franklin city             Virginia
              East Carroll Parish            Louisiana
         Northwest Arctic Borough               Alaska
             Kusilvak Census Area               Alaska
                   Lexington city             Virginia
                       Galax city             Virginia
  Southeast Fairbanks Census Area               Alaska
                   Cameron Parish            Louisiana
                 Buena Vista city             Virginia
                   Covington city             Virginia
                     Emporia city             Virginia
        Yukon-Koyukuk Census Area               Alaska
       Aleutians West Census Area               Alaska
Prince of Wales-Hyder Census Area               Alaska
                    Tensas Parish            Louisiana
           Dillingham Census Area               Alaska
                      Norton city             Virginia
               Petersburg Borough               Alaska
           Aleutians East Borough               Alaska
                   Haines Borough               Alaska
        Wrangell City and Borough               Alaska
        Hoonah-Angoon Census Area               Alaska
                   Denali Borough               Alaska
       Lake and Peninsula Borough               Alaska
              Bristol Bay Borough               Alaska
             Skagway Municipality               Alaska
         Yakutat City and Borough               Alaska

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [139]:
# Write your code here

pop['population_percrnt_change']= ((pop['2017PopEstimate']-pop['2010Census'])/pop['2010Census'])*100
print(pop)

                  County       State  2010Census  2017PopEstimate  \
1713  Los Angeles County  California     9818605         10163507
628          Cook County    Illinois     5194675          5211263
1209       Harris County       Texas     4092459          4652980
1784     Maricopa County     Arizona     3817117          4307033
2501    San Diego County  California     3095313          3337685
...                  ...         ...         ...              ...
87         Arthur County    Nebraska         460              457
1481       Kenedy County       Texas         416              417
1502         King County       Texas         286              296
1462      Kalawao County      Hawaii          90               88
1720       Loving County       Texas          82              134

      population_percrnt_change
1713                   3.512739
628                    0.319327
1209                  13.696435
1784                  12.834713
2501                   7.830291
...                         ...
87                    -0.652174
1481                   0.240385
1502                   3.496503
1462                  -2.222222
1720                  63.414634

[3142 rows x 5 columns]

#### 12. What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?

**NOTE:** This will take several lines of code, as it requires a recalculation of Percent Change.

In [ ]:
# Write your code here
from IPython.display import display
state_population = pop.groupby('State', as_index=False).agg( state_census2010= ('2010Census','sum'),estimate_state2017 =('2017PopEstimate','sum'))
state_population['population_percent_change'] = ((state_population['estimate_state2017']- state_population['state_census2010'])/state_population['state_census2010'])*100
#sort the population
sorted_state_population_change = state_population.sort_values('population_percent_change', ascending=False)
display(sorted_state_population_change.head(5))

# Note the answer is in term of both positive and negative combination but if we are just looking for magnitude of change we have to make the change values positiv ebefore soeting

,State,state_census2010,estimate_state2017,population_percent_change
8,District of Columbia,601723,693972,15.330808
43,Texas,25145561,28304596,12.562993
34,North Dakota,672591,755393,12.310899
44,Utah,2763885,3101833,12.227282
9,Florida,18801310,20984400,11.611372