# Assignment-1

This notebook contains the coding questions to test the proficiency in basic python.

### Date: 30th Novemeber, 2025

### Steps to solve and upload the assignment 

- Download the notebook in your local machine.
- Solve the questions in the notebook and save it.
- Rename the file as `Assignment-01-<your_name>_<your_surname>.ipynb`. For example if your name is Dipika Chopra then name the file as `Assignment-01-Dipika_Chopra.ipynb`.
- Upload the solved notebook in your github repo under the folder **Assignment-1**.
- Upload the solved notebook in the google drive location: https://drive.google.com/drive/folders/1uZZ3pWHHX-8D5gBFmLApgqbhAYFO-wdU?usp=drive_link.

<h3><span style="color:red"> Deadline: 14th December, 2025 </span></h3>

#### Question-1

Write a function `second_largest(numbers)` that takes a list of numbers and returns the second largest number in the list. Assume the list has at least two unique numbers.

Example:
```python
numbers = [10, 5, 20, 8, 15]
second = second_largest(numbers)
print(second)
# Expected output: 15
```

In [1]:
# Write your code here

def second_largest(numbers):
    return sorted(numbers)[-2]

numbers = [10, 5, 20, 8, 15]
second = second_largest(numbers)
print(second)

15

#### Question-2

Write a function `count_vowels(text)` that takes a string as input and returns the number of vowels (a, e, i, o, u - case-insensitive) present in the string.

Example:
```python
text = "Hello World"
vowel_count = count_vowels(text)
print(vowel_count)
# Expected output: 3
```

In [3]:
# Write your code here

def count_vowels(text):
    count = 0
    vowels="AEIOU"
    for char in text.upper():
        if char in vowels :
            count = count+1
    return count

text = "Hello World"
vowel_count = count_vowels(text)
print(vowel_count)

3

#### Question-3

Write a Python program to print all the prime numbers between 1 and N (inclusive). Where N is a positive integer and an input from user.

Example:

```python
N = 20
# Expected output: 2,3,5,7,11,13,17,19

```

In [3]:
# Write your code here
import math
n = int(input("Enter a number : "))

def print_prime(n):
    prime_list=[]
    for num in range(2, n+1):
        isPrime = True
        for i in range(2,int(math.sqrt(num))+1):
            if num % i ==0:
                isPrime = False
                break

        if isPrime:
            prime_list.append(num)
    return prime_list

print(print_prime(n))

[2, 3, 5, 7, 11, 13, 17, 19, 23]

#### Question-4

Write a function `merge_sorted_lists(list1, list2)` that takes two sorted lists of integers, `list1` and `list2` and merges them into a single sorted list efficiently. One way is to simple concatenate the lists and sort. But think of a better approach.

Example:
```python
list1 = [1, 4, 5]
list2 = [1, 3, 4]
merged = merge_sorted_lists(list1, list2)
print(merged)
# Expected output: [1, 1, 3, 4, 4, 5]
```

In [4]:
# Write your code here
def merge_sorted_list(list1, list2):
    result=[]
    a=b=0

    while a < len(list1) and b <len(list2) :
        if list1[a] < list2[b] :
            result.append(list1[a])
            a += 1
        else:
            result.append(list2[b])
            b += 1

    result.extend(list1[a:])
    result.extend(list2[b:])
    return result

list1 = [1, 4, 5]
list2 = [1, 3, 4]
merged = merge_sorted_list(list1,list2)
print(merged)

[1, 1, 3, 4, 4, 5]

#### Question-5

Create a dictionary like: `student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}`. Write Python code to find and print the name of the student with the highest grade.

Example:
```python
student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}
# Expected output: Bob
```

In [10]:
# Write your code here
student_grades ={"Alice": 85, "Bob": 92, "Charlie": 78}
student_with_highest_grade =max(student_grades,key=student_grades.get)
print(student_with_highest_grade)

Bob

#### Question-6

Write a function `is_anagram(str1, str2)` that checks if two given strings are anagrams of each other (contain the same characters with the same frequencies, ignoring case).

Example:
```python
print(is_anagram("listen", "silent"))
print(is_anagram("hello", "world"))
# Expected output:
# True
# False
```

In [17]:
# Write your code here
def is_anagram(a,b):
    if(sorted(a)==sorted(b)):
        return True
    else :
        return False
    
print(is_anagram("listen","silent"))
print(is_anagram("hello","world"))

True
False

#### Question-7

Write a function `rotate_list(lst, k)` that rotates a given list lst to the right by `k` positions in-place. Assume `k` is a non-negative integer and can be greater than the length of the list.

Example:

```python
my_list = [1, 2, 3, 4, 5]
rotate_list(my_list, 2)
print(my_list)
# Expected output: [4, 5, 1, 2, 3]
```

In [39]:
# Write your code here
def rotate_list(list,k):
    actual_rotation = k%len(list)
    list[:]= list[-actual_rotation : ]+ list[:-k]
    return list

my_list= [1,2,3,4,5]
k=2
rotate_list(my_list,k)
print(my_list)

[4, 5, 1, 2, 3]

#### Question-8

You have a list of dictionaries, where each dictionary represents a product with keys "name", "price", and "category". Write a function group_by_category(products) that takes this list and returns a dictionary where the keys are the unique categories and the values are lists of product names belonging to that category.

Example:

```python
products = [
    {"name": "Laptop", "price": 1200, "category": "Electronics"},
    {"name": "Book", "price": 25, "category": "Books"},
    {"name": "Tablet", "price": 300, "category": "Electronics"},
    {"name": "Fiction", "price": 15, "category": "Books"},
]
grouped_products = group_by_category(products)
print(grouped_products)
# Expected output: {'Electronics': ['Laptop', 'Tablet'], 'Books': ['Book', 'Fiction']}

```

In [41]:
# Write your code here

def group_by_category(products):
    grouped = {}

    for product in products:
        category = product["category"]
        name     = product["name"]

        if category not in grouped:
            grouped[category] =[]

        grouped[category].append(name)
    return grouped

products = [
    {"name": "Laptop", "price": 1200, "category": "Electronics"},
    {"name": "Book", "price": 25, "category": "Books"},
    {"name": "Tablet", "price": 300, "category": "Electronics"},
    {"name": "Fiction", "price": 15, "category": "Books"},
]

grouped_products = group_by_category(products)
print(grouped_products)

{'Electronics': ['Laptop', 'Tablet'], 'Books': ['Book', 'Fiction']}

#### Question-9

Write a Python program that prints the first `n` rows of Pascal's triangle. `n` is a positive integer and an user input. To know about Pascal's triangle see the [wikipedia article](https://en.wikipedia.org/wiki/Pascal%27s_triangle): 

Example:

```python
n = 5
# Expected output:
#     1
#    1 1
#   1 2 1
#  1 3 3 1
# 1 4 6 4 1
```

In [45]:
# Write your code here
import math
def pascal_triangle(n):

    for i in range(n):
        print(" " * (n-i),end="")

        for j in range (i+1):
            print(math.comb(i,j), end=" ") # usign nCr (combination to calculate row value)

        print()

pascal_triangle(5)

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

#### Question-10

Write a function `reverse_the_words(s)` which will take a string `s` as input and reverses the words in the string. 

Example:

```python
s = "Python is awesome and challenging"
r = reverse_the_words(s)
print(r)
# Expected output: challenging and awesome is Python
```

In [46]:
# Write your code here
def reverse_the_words(s):
    words=s.split()
    words.reverse()
    return ' '.join(words)

s = "Python is awesome and challenging"
r = reverse_the_words(s)
print(r)

challenging and awesome is Python

#### Bonus question

Write a function `word_counter(s)` which will take a string `s` as input and returns a dictionary with count of words (case insensitive). Remove all the punctuations and special symbols present in the string.  

Example:
```python
s = "This city is a beautiful city. This is where I live"
d = word_counter(s)

# Expected output (output can be in any order): {"this": 2, "city": 2, "is": 2, "a": 1, "beautiful": 1, "where": 1, "i": 1, "live": 1}
```

In [ ]:
# Write your code here
import string
def word_counter(s):

    word_count ={}
    cleaned_string = s.translate(str.maketrans('','',string.punctuation))

    words =cleaned_string.split()
    #print (words)

    for w in words:
        if w in word_count:
            word_count[w]+=1
        else :
            word_count[w]=1

    return word_count


s = "This city is a beautiful city. This is where I live"
d =  word_counter(s)
print(d)

['This', 'city', 'is', 'a', 'beautiful', 'city', 'This', 'is', 'where', 'I', 'live']
{'This': 2, 'city': 2, 'is': 2, 'a': 1, 'beautiful': 1, 'where': 1, 'I': 1, 'live': 1}